<h1>Logueate</h1>
<form id="loginForm">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input type="password" name="password">
    <input type="submit">
</form>

<p>Registrate es gratis !!!  
<br>    
<a href="/register">Registrate</a></p>
<br>
<script src="/js/login.js"></script>